
.progressContainer{
    margin-bottom: 40px;

}
.line{
    clear: both;
}
.progress {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.progress li {
    float: left;
    text-align: center;
    position: relative;
}

